.places {
    display: flex;
    flex-direction: column;
    margin: 0 0 92px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
    .places {
        margin: 0 auto 92px;
        width: 720px;
    }
}

@media screen and (max-width: 767.5px) {
    .places {
        margin: 0 0 64px;
    }
}