.place__button {
    width: 248px;
    height: 48px;
    background-color: #0278FE;
    color: white;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 4px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767.5px) {
    .place__button {
        width: 288px;
        margin: 0 16px;
    }
}

.place__button:hover {
    cursor: pointer;
    background-color: #0063D2;
}