.cover__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    max-width: 280px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    margin: 32px 0;
}

@media screen and (max-width: 767.5px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        margin: 16px auto;
    }
}