.cover__button {
    width: 137px;
    height: 48px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: #0278FE;
    align-content: center;
    margin: 0;
    border: 0;
    border-radius: 4px;
}

.cover__button:hover {
    cursor: pointer;
    background-color: #0063D2;
}