.cover {
    max-width: 1184px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, sans-serif;
    position: relative;
    justify-content: center;
    align-items: center;
}

.cover:hover {
    cursor: url("../../images/cursor.png"), default;
}

@media screen and (min-width: 1000px) and (max-width: 1279.5px) {
    .cover {
        max-width: 1000px;
    }
}

@media screen and (min-width: 768px) and (max-width: 999.5px) {
    .cover {
        max-width: 768px;
        height: 746px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767.5px) {
    .cover {
        max-width: 320px;
        min-height: 254px;
    }
}

@media screen and (max-width: 319.5px) {
    .cover {
        max-width: 320px;
        max-height: 254px;
    }
}